@model ListOrganizationsViewModel
@{
    ViewBag.Title = "Manage My Organizations";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

@helper AddOrganizationButton()
{
    <a href="@Url.ManageMyOrganizations()">
        <input type="button" class="btn btn-primary btn-block" value="Add Organization" />
    </a>
}

<section role="main" class="container main-container page-manage-organizations">
    <div class="row">
        <div class="col-xs-12 organizations-list">
            <h1>Manage Organizations</h1>
            @if (Model.Organizations.Any())
            {
                foreach (var organization in Model.Organizations)
                {
                    <a href="@Url.ManageMyOrganizations()">
                        <div class="row item">
                            <div class="col-sm-1 hidden-xs hidden-sm">
                                @ViewHelpers.GravatarImage(organization.EmailAddress, organization.Username, 332, responsive: true)
                            </div>

                            <div class="col-sm-11">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <p class="details">
                                            <b>@organization.Username</b>
                                        </p>
                                        <p class="details">
                                            <i>@organization.EmailAddress</i>
                                        </p>
                                    </div>

                                    <div class="col-sm-3">
                                        <p class="details">
                                            <b>@organization.MemberCount members</b>
                                        </p>
                                        <p class="details">
                                            <i>@organization.PackagesCount packages</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        @AddOrganizationButton()
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <p class="text-center">You do not have any organizations.</p>
                        @AddOrganizationButton()
                    </div>
                </div>
            }
        </div>
    </div>
</section>